.sidebar-smr {


  position: initial;
  height: 100%;
  background: rgb(255, 255, 255);
  list-style: none;
  & li {
    transition: all 3s;
  }

  & ul {
    padding: 0;
    margin: 0;
  }

  & a {
    display: block;
    color: #767974;
    text-decoration: none;
    padding: 4px;
    padding-left: 30px;

    &:hover {
      color: rgba(20, 20, 20, 0.712) !important;
      border-left: 6px solid rgba(222, 174, 0, 0.5);
    }

    &:focus, &.select {
      color: rgb(20, 20, 20) !important;
      border-left: 6px solid #DEAD00;
    }

    @at-root &.sub-smr {
      background: #DEAD00;
      color: black;
    }
  }
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  //transform: translateX(0%);
}

.sidebar-smr.sidebar-hide-smr {
  transform: translateX(-100%);
 
}

