<div  class="sidebar">

  <a class="sub" >
    Components
  </a>
  <ul>
    <li>
      <a routerLink="/alerts">
        Alerts
      </a>
    </li>
    <li>
      <a routerLink ="/badge">
        Badge
      </a>
    </li>
    <li>
      <a routerLink ="/breadcrumb">
        Breadcrumb
      </a>
    </li>
    <li>
      <a routerLink ="/buttons">
        Buttons
      </a>
    </li>
    <li >
      <a routerLink ="/button-group">
        Button group
      </a>
    </li>
    <li>
      <a routerLink ="/card">
        Card
      </a>
    </li>
    <li>
      <a routerLink ="/carousel">
        Carousel
      </a>
    </li>
    <li>
      <a routerLink ="/collapse">
        Collapse
      </a>
    </li>
    <li>
      <a routerLink ="/dropdowns">
        Dropdowns
      </a>
    </li>
    <li>
      <a routerLink ="/forms">
        Forms
      </a>
    </li>
    <li>
      <a routerLink ="/input-group">
        Input group
      </a>
    </li>
    <li>
      <a routerLink ="/jumbotron">
        Jumbotron
      </a>
    </li>
    <li>
      <a routerLink ="/list-group">
        List group
      </a>
    </li>
    <li>
      <a routerLink ="/media-object">
        Media object
      </a>
    </li>
    <li>
      <a routerLink ="/modal">
        Modal
      </a>
    </li>
    <li>
      <a routerLink ="/navs">
        Navs
      </a>
    </li>
    <li>
      <a routerLink ="/navbar">
        Navbar
      </a>
    </li>
    <li>
      <a routerLink ="/pagination">
        Pagination
      </a>
    </li>
    <li>
      <a routerLink ="/popovers">
        Popovers
      </a>
    </li>
    <li>
      <a routerLink ="/progress">
        Progress
      </a>
    </li>
    <li>
      <a routerLink ="/scrollspy">
        Scrollspy
      </a>
    </li>
    <li>
      <a routerLink ="/spinners">
        Spinners
      </a>
    </li>
    <li>
      <a routerLink ="/toasts">
        Toasts
      </a>
    </li>
    <li>
      <a routerLink ="/tooltips">
        Tooltips
      </a>
    </li>
  </ul>
</div>
