//Mixin para breakpoints
@mixin respond-to($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

.container-smr {
  display: grid;
  grid-template-columns: 16%;
  grid-template-rows: 13%;
  height: 100vh;
  grid-template-areas: "header header"
    "menu content";
  overflow-x: hidden;
}


.header-container-smr {
  grid-area: header;
}

.menu-container-smr {
  grid-area: menu;
  overflow: auto;
  transition: all .5s;
}

.content-container-smr {
  grid-area: content;
  overflow: auto;
  transition: all .5s;
}

.without-menu {
  & .menu-container-smr {
    transform: translateX(-100%);
  }
  
  & .content-container-smr {
    width: calc(100% + 19%);
    transform: translateX(-16%);
  }
}

.with-menu {
  @include respond-to(768px) {
    & .menu-container-smr {
      width: calc(627%);
      transform: translateX(0%);
    }
    & .content-container-smr {
        width: calc(100% + 87%);
        transform: translateX(100%);
    }
  }
}

