/* You can add global styles to this file, and also import other style files */
//Mixin para breakpoints
@mixin respond-to($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

.margin {
    margin: 50px;
    margin-right: 200px;
    @include respond-to(768px){
        margin: 20px;
        margin-top: 30px;
    }
}